<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Provo City Mental Health</title>
</head>
<body>
   <label><b>Country Information:</b></label>
   <br><br>
   <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
     <thead style="background-color: cornflowerblue; color: white;">
       <tr>
         <th style="text-align: left;">Name</th>
         <th style="text-align: left;">Popular Site</th>
         <th style="text-align: left;">Capital</th>
         <th style="text-align: left;">Population</th>
         <th style="text-align: left;">Visited</th>
         <th style="text-align: left;">Covid Level</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody style="font-family: Arial; font-size: 9pt;">
        <% for (let iCount = 0; iCount < mycountry.length; iCount++) { %> 
         <tr>
           <td><%= mycountry[iCount].country_name %></td>
           <td><%= mycountry[iCount].popular_site %></td>
           <td><%= mycountry[iCount].capital %></td>
           <td><%= mycountry[iCount].population %></td>
           <td style="text-align: center;"><%= mycountry[iCount].visited %></td>
           <td style="text-align: center;"><%= mycountry[iCount].covid_level %></td>
           <td style="text-align: center;">
             <form action="/editCountry/<%= mycountry[iCount].country_id %>" method="GET">
               <button type="submit">Edit</button>
             </form>
           </td>
           <td style="text-align: center;">
             <form action="/deleteCountry/<%= mycountry[iCount].country_id %>" method="POST">
               <button type="submit">Delete</button>
             </form>
           </td>
         </tr>
      <% } %>
     </tbody>
   </table>
   <br><br>
   <form action="/addCountry" method="GET">
     <button type="submit">Add Country</button>
   </form>
   <footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div>Copyright &copy; Provo City Health 2023</div>
        </div>
    </div>
</footer>
</body>
</html>