<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Edit Login Record</title>
   <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
   <!-- Font Awesome icons (free version)-->
   <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
   <!-- Google fonts-->
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
   <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
   <!-- Core theme CSS (includes Bootstrap)-->
   <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container" style="padding-top: 20px; width: 500px; margin: 0 auto;">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">EDIT A LOGIN</h2>
        <h5 class="text-muted">Please enter information below you want to change.</h5>
    </div>
    <br>

    <form data-sb-form-api-token="API_TOKEN" action="/editemployee" method="POST">
            <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" type="hidden" id="LoginID" name="LoginID" value="<%=mylogin[0].LoginID %>">
                  <label for="Username">Username:</label><br>
                  <input type="text" id="Username" name="Username" value="<%=mylogin[0].Username %>">
                </div>
                <br>
                <div class="form-group">
                  <label for="Password">Password:</label><br>
                  <input type="text" id="Password" name="Password" value="<%=mylogin[0].Password %>">
                </div>
                <br>
                <div class="form-group">
                  <label for="FirstName">First Name:</label><br>
                  <input type="text" id="FirstName" name="FirstName" value="<%=mylogin[0].FirstName %>">
                </div>
                <br>
                <div class="form-group">
                  <label for="LastName">Last Name:</label><br>
                  <input type="text" id="LastName" name="LastName" value="<%=mylogin[0].LastName %>">
                </div>
                <br>
                <div class="form-group">
                  <label for="Email">Email:</label><br>
                  <input type="text" id="Email" name="Email" value="<%=mylogin[0].Email %>">
                </div>
            </div>
            <br>
        <!-- Submit Button-->
        <div class="text-center">
          <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">SAVE</button>
          <a class="btn btn-primary text-uppercase" href="/databaseadmin">GO BACK</a>
        </div>
    </form>
</div>

</body>
</html>