<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Edit Login Record</title>

</head>
<body>
   <form action="/editemployee" method="POST">
     <fieldset style="width: 0px;">
       <legend>Edit a Login:</legend>
       <input type="hidden" id="SurveyID" name="SurveyID" value="<%=mylogin[0].SurveyID %>">
       <input type="hidden" id="Timestamp" name="Timestamp" value="<%=mylogin[0].Timestamp %>">
       <label for="Age">Age:</label>
       <input type="text" id="Age" name="Age" value="<%=mylogin[0].Age %>">
       <br><br>
       <label for="Gender">Gender:</label>
       <input type="text" id="Gender" name="Gender" value="<%=mylogin[0].Gender %>">
       <br><br>
       <label for="OccupationStatus">Occupation Status:</label>
       <input type="OccupationStatus" id="OccupationStatus" name="OccupationStatus" value="<%=mylogin[0].OccupationStatus %>">
       <br><br>
       <label for="RelationshipStatus">Relationship Status:</label>
       <input type="text" id="RelationshipStatus" name="RelationshipStatus" value="<%=mylogin[0].RelationshipStatus %>">
       <br><br>
     </fieldset>
     <button type="submit">Save</button>
   </form>
</body>
</html>