<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Provo City Health</title>
</head>
<body>
    <h1> Edit Survey Data </h1>
    <label><b>Survey Data:</b></label>
    <br><br> 
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Survey #</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">OccupationStatus</th>
          <th scope="col">RelationshipStatus</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for (let iCount = 0; iCount < mySurvey.length; iCount++) { %>
             <tr>
               <td><%= mySurvey[iCount].SurveyID %></td>
               <td><%= mySurvey[iCount].Timestamp %></td>
               <td><%= mySurvey[iCount].Age %></td>
               <td><%= mySurvey[iCount].Gender %></td>
               <td><%= mySurvey[iCount].OccupationStatus %></td>
               <td><%= mySurvey[iCount].RelationshipStatus %></td>
               <td style="text-align: center;">
                 <form action="/editresponse/<%= mySurvey[iCount].SurveyID %>" method="GET">
                   <button type="submit">Edit</button>
                 </form>
               </td>
               <td style="text-align: center;">
                <form action="/deleteresponse/<%= mySurvey[iCount].SurveyID %>" method="POST">
                  <button type="submit">Delete</button>
                </form>
              </td>
             </tr>
          <% } %>
         </tbody>
       </table>
       <br><br>
    <footer class="footer py-4">
      <div class="container">
          <div class="row align-items-center">
              <div>Copyright &copy; Provo City Health 2023</div>
          </div>
      </div>
  </footer>
</body>
</html>